.code-box {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 75vw;
  position: relative;
  margin-top: 8px;
}

.code-box .code-item {
  padding: 0 6px;
  min-width: 35px;
  min-height: 6vh;
  text-align: center;
  font-size: 4vw;
  /* color:  */
  border: none;
  border-bottom: 2px solid rgb(32, 32, 32,0.4);
  transition: border 0.3s;
  box-sizing: border-box;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.code-box .code-input {
  position: absolute;
  width: 100%;
  
  height: 100%;
  opacity: 0;
}

.active {
  border-bottom: 3px solid #1E80FF !important;
}